 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/Rectangle10.jpg");
  background-position: 80.83% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 4.25rem;
  margin: 192px 1073px 0 70px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.625rem;
  margin: 0 720px 0 70px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 15px auto 60px 70px;
  padding: 16px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 643px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 760px;
    margin-right: 290px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 423px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-right: 70px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 243px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 43px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    padding: 15px 38px 17px 37px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 705px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 4.25rem;
  margin: 61px 1035px 0 100px;
}

.u-section-2 .u-list-1 {
  width: 612px;
  margin: -60px 235px 0 auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 234px;
  grid-template-columns: calc(50% - 2px) calc(50% - 2px);
  grid-gap: 4px 4px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 149px;
  min-height: 95px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 1.625rem;
  margin: -63px 10px 0 174px;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  margin: 11px 34px 0 174px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 149px;
  min-height: 95px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 1.625rem;
  margin: -63px 10px 0 174px;
}

.u-section-2 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  margin: 11px 34px 0 174px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  width: 149px;
  min-height: 95px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 1.625rem;
  margin: -63px 10px 0 174px;
}

.u-section-2 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  margin: 11px 34px 0 174px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  width: 149px;
  min-height: 95px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 1.625rem;
  margin: -63px 10px 0 174px;
}

.u-section-2 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  margin: 11px 34px 0 174px;
}

.u-section-2 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.625rem;
  margin: -174px 967px 0 100px;
}

.u-section-2 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 2.625rem;
  width: 186px;
  margin: 102px auto 0;
}

.u-section-2 .u-list-2 {
  width: 1245px;
  margin: 87px auto 60px;
}

.u-section-2 .u-repeater-2 {
  min-height: 96px;
  grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
  grid-gap: 5px 5px;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-group-5 {
  width: 119px;
  min-height: 76px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 1.625rem;
  margin: -52px 0 0 146px;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px;
}

.u-section-2 .u-group-6 {
  width: 119px;
  min-height: 76px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 1.625rem;
  margin: -52px 0 0 146px;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px;
}

.u-section-2 .u-group-7 {
  width: 119px;
  min-height: 76px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 1.625rem;
  margin: -52px 0 0 146px;
}

.u-section-2 .u-container-layout-15 {
  padding: 10px;
}

.u-section-2 .u-group-8 {
  width: 119px;
  min-height: 76px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 1.625rem;
  margin: -52px 0 0 146px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 635px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    margin-left: 603px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-text-10 {
    margin-right: 567px;
    margin-left: 0;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 72px;
  }

  .u-section-2 .u-group-5 {
    margin-left: 603px;
    height: auto;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 415px;
  }

  .u-section-2 .u-list-1 {
    margin-right: 108px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    margin-left: 571px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 347px;
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 228px;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  }

  .u-section-2 .u-group-5 {
    margin-left: 571px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 235px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-left: 391px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 24px;
    margin-left: 112px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 24px;
    margin-left: 112px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 167px;
  }

  .u-section-2 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-5 {
    margin-left: 391px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 35px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 191px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 110px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 110px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 110px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 110px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-group-5 {
    margin-left: 191px;
  }
} .u-section-3 {
  background-image: url("images/Rectangle92.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1008px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Bebas Neue";
  font-size: 2.625rem;
  width: 186px;
  margin: 64px auto 0;
}

.u-section-3 .u-group-1 {
  width: 420px;
  min-height: 271px;
  height: auto;
  margin: 67px auto 0 290px;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-group-2 {
  width: 420px;
  min-height: 271px;
  height: auto;
  margin: -270px 290px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-group-3 {
  width: 420px;
  min-height: 271px;
  height: auto;
  margin: 15px auto 0 289px;
}

.u-section-3 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-group-4 {
  width: 420px;
  min-height: 271px;
  height: auto;
  margin: -272px 291px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-group-5 {
  width: 420px;
  min-height: 64px;
  height: auto;
  margin: 145px auto 60px;
}

.u-section-3 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 98px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 380px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 635px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 120px;
  }

  .u-section-3 .u-group-2 {
    margin-right: 120px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 120px;
  }

  .u-section-3 .u-group-4 {
    margin-right: 120px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 629px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-group-5 {
    width: 340px;
  }
}

.u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-group-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-group-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-3:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-group-3:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-group-3:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-group-3:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-group-3:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-group-3:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-group-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-group-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-group-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-5:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-group-5:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-group-5:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-group-5:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-group-5:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-group-5:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-group-5:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-5:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]),
.u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-7a2d-26:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]),
.u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-7a2d-29:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]),
.u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]).u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-7a2d-32:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 996px;
}

.u-section-4 .u-group-1 {
  width: 640px;
  min-height: 48px;
  height: auto;
  margin: 110px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-2 {
  width: 1305px;
  min-height: 512px;
  height: auto;
  margin: 110px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.u-section-4 .u-form-1 {
  background-image: none;
  height: 487px;
  margin: 0 34px 0 985px;
}

.u-section-4 .u-label-1 {
  font-weight: 700;
}

.u-section-4 .u-label-2 {
  font-weight: 700;
}

.u-section-4 .u-label-3 {
  font-weight: 700;
}

.u-section-4 .u-group-3 {
  width: 287px;
  min-height: 486px;
  height: auto;
  margin: -487px auto 0 668px;
}

.u-section-4 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-group-4 {
  width: 287px;
  min-height: 487px;
  height: auto;
  margin: -486px auto 0 351px;
}

.u-section-4 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-group-5 {
  width: 287px;
  min-height: 486px;
  height: auto;
  margin: -487px auto 0 34px;
}

.u-section-4 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-list-1 {
  width: 490px;
  margin: 88px 69px 0 auto;
}

.u-section-4 .u-repeater-1 {
  min-height: 64px;
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-container-layout-10 {
  padding: 0;
}

.u-section-4 .u-group-6 {
  width: 310px;
  min-height: 63px;
  height: auto;
  margin: -60px auto 0 178px;
}

.u-section-4 .u-container-layout-11 {
  padding: 0;
}

.u-section-4 .u-group-7 {
  width: 90px;
  min-height: 64px;
  height: auto;
  margin: -63px auto 60px 68px;
}

.u-section-4 .u-container-layout-12 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-form-1 {
    margin-right: 17px;
    margin-left: 636px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 636px;
    height: auto;
  }

  .u-section-4 .u-group-4 {
    margin-left: 334px;
    height: auto;
  }

  .u-section-4 .u-group-5 {
    margin-left: 17px;
    height: auto;
  }

  .u-section-4 .u-group-6 {
    height: auto;
  }

  .u-section-4 .u-container-layout-11 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-7 {
    height: auto;
  }

  .u-section-4 .u-container-layout-12 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-2 {
    width: 720px;
  }

  .u-section-4 .u-form-1 {
    margin-left: 416px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 416px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
  }

  .u-section-4 .u-form-1 {
    margin-left: 236px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 236px;
  }

  .u-section-4 .u-group-4 {
    margin-left: 236px;
  }

  .u-section-4 .u-list-1 {
    margin-right: 50px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 532px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
  }

  .u-section-4 .u-form-1 {
    margin-left: 36px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 36px;
  }

  .u-section-4 .u-group-4 {
    margin-left: 36px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-group-6 {
    margin-left: 30px;
  }
}